<form action="/signup" method="POST" id="signupForm">
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="Your Username">

  <label for="email">Email:</label>
  <input type="text" name="email" placeholder="Your Email">

    <label for="password">Password:</label>
  <input type="text" name="password" placeholder="Your Password">

  <button type="submit">Sign Up</button>
</form>