<form action="/signup" method="POST" id="signupForm">
  <label for="username">*Username:</label>
  <input type="text" name="username" placeholder="Your Username">

  <label for="email">*Email:</label>
  <input type="email" name="email" placeholder="Your Email">

    <label for="password">*Password:</label>
  <input type="password" name="password" placeholder="Your Password">

  <p for="role">*Are you a student or a teacher?</p>
  <input type="radio" value="student" name="role" id="student">
  <label for="student">Student</label>
  <input type="radio" value="teacher" name="role" id="teacher">
  <label for="teacher">Teacher</label>

  <button type="submit">Sign Up</button>

  {{#if message}}
   {{message}}
  {{/if}}
</form>