<form action="/signup" method="POST" id="signupForm">
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="Your Username">

  <label for="email">Email:</label>
  <input type="text" name="email" placeholder="Your Email">

    <label for="password">Password:</label>
  <input type="text" name="password" placeholder="Your Password">

  <p for="role">Are you a student or a teacher?</p>
  <input type="radio" value="student" name="role">
  <label for="role">Student</label>
  <input type="radio" value="teacher" name="role">
  <label for="role">Teacher</label>

  <button type="submit">Sign Up</button>
</form>