<h1>All yoga lessons</h1>
{{#each lessonList}}
  <h3>Name: {{name}}</h3>
  <h4>Date: {{date}}</h4>
  <li>Teacher: {{ owner.username }}</li>
    <a href="/lessons/{{_id}}">See details</a>
{{/each}}

  <a href="/lessons/add">Create lesson</a>