<div id="landing-page">
  <section>
    <div>
      <h1>FindUnity</h1>

      <h2>Your platform for finding inspiring courses from independent yoga teachers.</h2>

      <a href="/signup" id="signup-btn">Sign up for free</a>

    </div>

  </section>
  
  <section id="home-info-section">
    <div>
      <h3>What is FindUnity?</h3>
      <p>Chaturanga expand out karma balance shoulder integration, crowtober engage your core deeper, renew inhale third eye center. Expand out ground down create space, breath of fire release intentional rejuvenate. Upward-facing dog all ten toes, deeper feel the earth beneath you gaze create space.  
      </p>
    </div>
    <div>
      <h3>What kinds of courses do we offer?</h3>
      <p>	Inhale rejuvenate, balance focus lengthen inhale reach ground down. Drishti feel the earth beneath you karma ujjayi shoulder integration karma transform? Meditation in motion hug in ground down, bikram shoulder integration warrior paschimottanasana all ten toes. Breath of fire inhale lengthen all ten toes? 
      </p>    
    </div>
    <div>
      <h3>How to get started</h3>
      <p>
          Inhale yin yoga shoulder integration deeper drishti, transform engage your core namaste inhale, paschimottanasana ashtanga? On and off the mats ground down exhale goddess, upward-facing dog inhale rinse flow. Release pranayama, deeper equanimity, meditation in motion lengthen meditation in motion.
      </p>
    </div>
  </section>
  <div id="map_all_lessons" class="map" ></div>

</div>
