<div id="landing-page">
  <div>
    <div>
          <object data="/images/Yoga-logo1.svg" type="image/svg+xml"></object>
        <h1>FindUnity</h1>

    </div>

  <h2>Your platform for finding inspiring courses from independent yoga teachers.</h2>
  <img src="/images/landing-page-img.JPG" alt="cartoon lady doing yoga">

  <a href="/signup" class="signup-btn button">Sign up for free</a>

  </div>

  <h3>What is FindUnity?</h3>
  <p>Chaturanga expand out karma balance shoulder integration, crowtober engage your core deeper, renew inhale third eye center. Expand out ground down create space, breath of fire release intentional rejuvenate. Upward-facing dog all ten toes, deeper feel the earth beneath you gaze create space. . 
  </p>

  <h3>What kinds of courses do we offer?</h3>
  <p>	Inhale rejuvenate, balance focus lengthen inhale reach ground down. Drishti feel the earth beneath you karma ujjayi shoulder integration karma transform? Meditation in motion hug in ground down, bikram shoulder integration warrior paschimottanasana all ten toes. Breath of fire inhale lengthen all ten toes? 
  </p>
</div>