<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
        <!-- this is coming from https://docs.mapbox.com/mapbox-gl-js/api/ -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
   
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

   </head>

   <body>
      <nav class="topnav">
            <object data="/images/Yoga-logo1.svg" type="image/svg+xml"></object>

            <a href="/">Home</a>
            <a href="/lessons/">Lessons</a>

            {{#if session.currentUser}}
               <a href="/myprofile">My Profile</a>
               <form action="/logout" method="POST"><button>Logout</button></form>
            {{else}}
               <a href="/login">Login</a>
               <a href="/signup">Signup</a>
            {{/if}}
         </ul>
         <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
         </a>
      </nav>

      {{{body}}}
     


      <script src="/js/script.js"></script>
    <script src="/js/mapbox.js"></script>
   </body>

</html>