* {
  box-sizing:border-box;
  padding: 0;
  margin:0;
  font-family: 'Nanum Gothic', sans-serif;
  max-width: 100vw;
}

nav {
  background-color: white;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 17px;
  transition-duration: 1s;

}

nav a:hover {
  background-color: #019bb9;
  transition-duration: 1s;
}

nav .icon {
  display: none;
}

/* phone screens */
@media screen and (max-width:600px) {
  nav a, nav button {display:none;}
  nav a.icon {
    float: right;
    display: block;
    padding-right: 10px;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0; 
  background-color: #FAF5F2;
}

nav object {
  width: 50px;
  height: 50px;
  float: left;
}

#landing-page {
  background-color: #fff4ea;

}
#landing-page > section:first-of-type > div > *{
  margin: 3rem;
}

#landing-page > section:first-of-type{
  margin: auto;
  min-height: 500px;
  display: flex;
  background-image: url("../images/yoga-class.jpg");
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
}

#landing-page h1 {
  font-size: 50px;
  color: white
}

#landing-page h2 {
  font-size: 32px;
  max-width: 700px;
  color: white

}

/* /Photo by <a href="https://unsplash.com/@mister_a?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Anupam Mahapatra</a> on <a href="https://unsplash.com/s/photos/yoga?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */


#landing-page object {
  width: 50px;
  height: 50px;
}

#landing-page img {
  max-width: 80%;
  display: block;
}


#home-info-section {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#home-info-section > div {
  background-color: white;
  padding: 25px 10px;
  margin: 50px 5px;
  text-align: center;
  border-radius: 5px;
  min-height: 250px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 2px 26px 18px -1px rgba(204, 204, 204, 0.75);
}

@media screen and (min-width:1200px) {
  #landing-page section:last-child {
    display: flex;
  }
  #home-info-section {
    margin: 10px;
    width: 600px;
  }
  #home-info-section > div {
    margin: 15px;
  }

  #map_all_lessons {
    width: 100%;
    height: 900px
  }

}

#signup-btn {
  padding:10px;
  background-color: #fff4ea;
  box-shadow: 2px 6px 8px -1px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  transition-duration: 1s;

}

#signup-btn:hover {
  background-color: #019bb9;
  color: white;
  transition-duration: 1s;
}



.button {
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
}

.form button {
  margin-top: 15px;
}

#landing-page > * {
  padding: 0 10px;  
}

#landing-page > h1 {
  padding-top: 30px;
}

.form-div {
  padding: 20px;
}

.form h1 {
  padding: 20px;
}

.form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  margin: auto;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  
}

.form  div {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.form input:not([type="radio"]) {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  /* min-width:fit-content; */
  width: 50%;
}
#lessons-page {
  text-align: center;
}

#lesson-details-page {
  text-align: center;

}

#lessons {
  padding-top: 20px;
  text-align: center;
  max-width: 1000px;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
}

#lessons .lesson-div {
  width: 300px;

}

#lesson-details-page .lesson-div {
  min-width: 300px;
  max-width: 700px
}

.lesson-div {
  margin: 20px; 
  padding: 10px;
  margin: 20px auto;
  /* float:; */
  /* text-align: left; */
  background-color: #badfc6;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.lesson-div a {
  margin: 0px 15px;
  background-color: #d3b29e;
}


.create-edit-btn {
  background-color: #d6d6d6;
  width: 200px;
margin: 10px auto ;
  
}

#profile-div {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 50px;
}


.map {
  width: 80%; 
  height: 50vh;
  border-radius: 5px;
  margin:  30px auto;
}

#login-page, #signup-page {
  height: calc(100vh - 50px);
  width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-page {
  background-image: url('/images/login-img.jpg');
}

#signup-page {
  background-image: url('/images/signup-img.jpg');

}

footer {
  color: white;
  background-color: rgb(255, 173, 148);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  
}