{{#with user}}
<h1>Welcome, {{ username }}</h1>
<p>You are a {{ role }}</p>


My booked Classes:
<ul>
  {{#each bookedLessons}}
    <a href="/lessons/{{_id}}"><li>{{name}}</li></a>
  {{/each}}
</ul>


{{/with}}
